.panel, .panel-body {
	border: 0;
}

/*
 Page Width
*/
li {

	height: auto;
}

.button-wrapper > button {
	margin-bottom: 5px;
}

.download, .btn-group-vertical > button {
	border-radius:10px !important;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.download, .btn-group-vertical > button{
	margin-bottom:10px;
}

.customBtn {
	text-align: left;
	width: 180px;
	margin-top: 5px;
	margin-bottom: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.toggleBtn {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.markBtn {
	height: 31px;
	width: 80px;

	padding: 0;
	border: 0;
}


.download {
	margin-top:15px;
	margin-left:15px;
}

.summary {
	border: 5px dotted pink;
}

.download:active, .customBtn:active , .toggleBtn:active, .btn-group-vertical > button:active {
	transform: translateY(3px);
}

.DottedBox {
	margin: 40px;
	border: 5px dotted pink;
  }
  
  .DottedBox_content {
	font-size: 15px;
	text-align: center;
	}
	
 .item {
		display: inline-block;
		background-color: #2a345a;
		padding: 2px 5px 5px;
		border-radius: 5px;
		color: #fff;
		margin: 2px;
	}
.fixedWidth {
	max-height: 100px;
}

.item > button {
		background-color: transparent;
		color: #fff;
		border: 0;
		font-weight: 900;
		cursor: pointer;
		vertical-align: bottom;
	}

	.item > button:hover {
		color: #ccc;
	}

	.full-width {
		width: 100%
	}

	.hidden {
		display: none;
	}

	.show {
		display: block;
	}

	.nav > li {
		position: inherit;
	}

	.big-checkbox {

	}


	.btnHeight {
		height: 31px;
	}

	  .labelA1 {
		white-space: nowrap;
		color: #fff;
		padding: 8px;
		margin-left: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	  }

	  .spanA1 {
		margin-left: 3px;
	  }

	  .dl-badge-info {
		background-color: #3927ae;
	  }

	  .mediaIcon {
		position: relative;
		align-content: center;
		left: 10px;
		font-size: 15px;
		font-weight: bolder;
		width: 15px;
		height: 15px;
		margin-right: 25px;
		float: left;
	  }

	  .arrowIcons {
		align-content: center;
		position: relative;
		margin-left: 5px;
		width: 30px;
		height: 30px;
	  }

	  .toggleClass {
		font-size: 1.4rem;
		font-weight: bold;
	  }

	  .vMiddleAlign {
		  padding-top: 0px;
		  padding-bottom: 0px;
	  }

	  .table thead th {
		vertical-align: middle;	
	}

	.all-copy {  
		-webkit-user-select: all;  /* Chrome all / Safari all */
		-moz-user-select: all;     /* Firefox all */
		-ms-user-select: all;      /* IE 10+ */
		user-select: all;          /* Likely future */   
	  }

	  .settings {
		width: 25px;
		height: 25px;
		float: right;
		border-radius:10px !important;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	  }

	  .settingsIcon {
		position: absolute;
		margin-left: -10px;
		margin-top: -10px;
		width: 20px;
		height: 20px;
	  }

      .modal-open {
		padding-right: 0 !important;
	  }
	  /* Force scrollbar. on click of settings icon, ui add that area.
	  html {
		overflow-y: scroll !important;
	  }
	  */

	.header {
		display: inline-block; 
	}