.panel, .panel-body {
	border: 0;
}

.EasyTableSearch { 
	table-layout: fixed; 
}

.FixedLayoutTable {
	table-layout: fixed;
}

/* Breaks dropdown in custom extensions
table th, table td {
	 overflow: hidden; 
	 word-wrap: break-word;
}
*/

/*
 Page Width
*/
li {

	height: auto;
}

.button-wrapper > button {
	margin-bottom: 5px;
}

.download, .btn-group-vertical > button {
	border-radius:10px !important;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.download, .btn-group-vertical > button{
	margin-bottom:10px;
}

.paypalImage {
	width: 120px;
	height: auto;
	border-radius:10px !important;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.customBtn {
	text-align: left;
	width: 180px;
	margin-top: 5px;
	margin-bottom: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.tabbedBtn {
	width: 180px;
	margin:10px;
	margin-right:0px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);	
	padding: 5px;
}

.roundedBtn {
	border-radius:10px !important;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-bottom:10px;
	margin-top:15px;
	margin-left:15px;
}


.markBtn {
	height: 31px;
	padding: 6px;
	border: 0;
}


.download {
	margin-top:15px;
	margin-left:15px;
}

.summary {
	border: 5px dotted pink;
}

.paypalImage:active {
	transform: translateY(3px);
}

.download:active, .customBtn:active , .toggleBtn:active, .roundedBtn:active, .btn-group-vertical > button:active {
	transform: translateY(3px);
}

.DottedBox {
	margin: 40px;
	border: 5px dotted pink;
  }
  
  .DottedBox_content {
	font-size: 15px;
	text-align: center;
	}
	
 .item {
		display: inline-block;
		background-color: #2a345a;
		padding: 2px 5px 5px;
		border-radius: 5px;
		color: #fff;
		margin: 2px;
	}
.fixedWidth {
	max-height: 100px;
}

.item > button {
		background-color: transparent;
		color: #fff;
		border: 0;
		font-weight: 900;
		cursor: pointer;
		vertical-align: bottom;
	}

	.item > button:hover {
		color: #ccc;
	}

	.full-width {
		width: 799px;
	}

	.dl-mr-6px {
		margin-right: 6px;
	}

	.full-height {
		height: 599px;
	}

	.hidden {
		display: none;
	}

	.show {
		display: block;
	}

	.nav > li {
		position: inherit;
	}

	.btnHeight {
		height: 31px;
	}

	  .labelA1 {
		white-space: nowrap;
		color: #fff;
		padding: 8px;
		margin-left: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	  }

	  .spanA1 {
		margin-left: 3px;
	  }

	  .dl-tag {
		  white-space: nowrap;
		  color: #fff;
		  width:12ch;
		  padding: 8px;
	  }

	  .dl-badge-info {
		background-color: #3927ae;
	  }

	  .mediaIcon {
		position: relative;
		align-content: center;
		left: 10px;
		font-size: 15px;
		font-weight: bolder;
		width: 15px;
		height: 15px;
		margin-right: 25px;
		float: left;
	  }

	  .arrowIcons {
		align-content: center;
		position: relative;
		margin-left: 5px;
		width: 30px;
		height: 30px;
	  }

	  .toggleClass {
		font-weight: bold;
	  }

	  .vMiddleAlign {
		  padding-top: 0px;
		  padding-bottom: 0px;
	  }

	.table thead th {
		vertical-align: middle;	
	}

	.all-copy {  
		-webkit-user-select: all;  /* Chrome all / Safari all */
		-moz-user-select: all;     /* Firefox all */
		-ms-user-select: all;      /* IE 10+ */
		user-select: all;          /* Likely future */   
	  }




	  .sidebarToggle,
	  .settings
	  {
		width: 25px;
		height: 25px;

		  font-weight:bold;
		  font-size:15px;
		  border:none;
		  cursor:pointer;
	  
		  -webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
		  transition: transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
	  
		  -o-transition-property:width,height,-o-transform,background,font-size,opacity,color;
		  -o-transition-duration:1s,1s,1s,1s,1s,1s,1s;
	  
		  -moz-transition-property:width, height, -moz-transform, background, font-size, opacity, color;
		  -moz-transition-duration:1s,1s,1s,1s,1s,1s,1s;
	  
		  transition-property:width,height,transform,background,font-size,opacity;
		  transition-duration:1s,1s,1s,1s,1s,1s;
	  
		  -webkit-border-radius:5px;
		  /*
		  border-radius:5px;
	  
		  box-shadow:0 0 2px rgba(0,0,0,0.5); */

border-radius:10px !important;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	  
		  text-shadow:0 0 5px rgba(255,255,255,0.5);
	  
		  display:inline-block;    /* It is important for the button to rotate*/
	  }
	  
	  .sidebarToggleRotate
	  {
		-moz-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	  }

	  .settings:hover
	  {
		 -webkit-animation: rotation 2s infinite linear;
		 animation: rotation 2s infinite linear;
		  background:#99A411;
		  font-size:30px;
		  color:#fff;
	  }

	  .settings {
		float: right;
	  }

	  @keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
     }

	  .sidebarToggle {
		float: left;
	  }

	  .sidebarToggleIcon,
	  .settingsIcon 
	  {
		position: absolute;
		margin-left: -10px;
		margin-top: -10px;
		width: 20px;
		height: 20px;
	  }






      .modal-open {
		padding-right: 0 !important;
	  }
	  /* Force scrollbar. on click of settings icon, ui add that area.
	  html {
		overflow-y: scroll !important;
	  }
	  */

	.header {
		display: inline-block; 
	}

	.input-group-addon {
		margin-left: 10px;
	}

/** To remove horizontal scroll bar in preferences for media items. doesn't work



.cc3 {
	display: block;
	overflow-y: scroll;
}

*/

/*
.imgPreview {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 75px;
}
*/

.imgPreview {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 75px;
}

.classFilterTbody {
	display: block;
	height: 250px;
	overflow: auto;
}

.displayTable {
	display: table;
}

/*
.classFilterThead, .classFilterTbody tr {
	display: table;
}
*/

.classFilterTbody tr {
	display: flex;
}


.classFilterThead {
	width: calc( 100% - 1em )
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.imgPopContainer {
	float:left;
	margin: 0 auto;
}

.imgPop {
	display: block;
	max-height: 360px;
	max-width: 640px;
	width: auto;
	height: auto;
}

.imgPopDialog{
	max-width: 670px;
	max-height: 510px;
}

.imgModelContent {
	width: 670px;
	height: 510px;
}

.nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: space-between;
	padding: 0rem;
}

.prev {
	display:flex;
	justify-content: center;
	left: 1em;
}

.next {
	display:flex;
	justify-content: center;
	right: 1em;
}

.dlRow {
	margin-left:-10px;
	margin-right:-10px;
}

.tooltip-inner {
	max-width: 60%;
	margin-left: auto;
	margin-right: 40px;
}

.help-icon-dl{
	position: absolute;
    max-height: 18px;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    right: 6px;
}

.help-icon-dl-simple {
	max-height: 18px;
	text-align: center;
	left: 6px;
	right: 6px;
}

.help-button-dl{
	position: relative;
}

.help-text-dl
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.nav-horizontal {
	justify-content: flex-start;
	padding: 1rem;
}

.editable-table {
    background-color: #FFFFFF;
    text-align: right;
    position: relative;
}

table.editable-table tr:nth-child(odd):hover {
    box-shadow: 0px -2px 2px 1px rgba(0, 0, 0, 0.5) inset;
}



